[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/noahbaxter/JUCE.git
	branch = reaper-vst-handshake
[submodule "assets/source"]
	path = assets/source
	url = git@github.com:noahbaxter/chartchotic-assets.git
